.nav{
  background-color: rgba(77, 66, 151, 0.98);
  color: #fff;
}

.hamburguer{
  display:none;
}



.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  &__item{
    list-style: none;
    &__link{
      text-decoration:none;
      color:#fff;
    }
  }

}

.container {
  padding:40px;
  margin: 0 auto;
}
